.bar-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: rgba(255,255,255,.5);
}
#profile {
    font-size: 10px;
    margin: 0 !important;
    color: #929292;
}
#name {
    font-size: 12px;
    margin: 0 !important;
    color: #ffffff;
}
.nav-link {
    padding: 0 !important;
    margin-left: 5px;
}
