<div class="container">
    <br>
    <div class="card">     
            <div class="card-header  text-left bg-ligth " style="border-top: 3px solid #3c8dbc;"><h5><strong class="text-uppercase">Registro de Pedido</strong></h5>
            </div> 
        <form [formGroup]="registroForm">    
        <div class="card-body ">   
            <div style="border-bottom: 1px solid #9c9595;">
                <strong class="text-uppercase">Datos del Solicitante</strong>
            </div>
            <br>
            <div class="form-group row">
                <label for="labelInfo" class="col-sm-3 col-xs-12 col-form-label">Nombre:</label>
                <div class="col-sm-3 col-xs-12">
                    <input type="text" class="form-control text-left" maxlength="60" formControlName="nombres" oninput="this.value = this.value.toUpperCase()">
                    <div *ngIf="registroForm.get('nombres').invalid && registroForm.get('nombres').errors">
                        <small class="text-danger" *ngIf="registroForm.get('nombres').hasError('required')">
                            El campo Nombre es requerido.</small>                                    
                    </div> 
                </div>
                <label for="labelInfo" class="col-sm-3 col-xs-12 col-form-label">Apellido:</label>
                <div class="col-sm-3 col-xs-12">
                    <input type="text" class="form-control text-left"  maxlength="60" formControlName="apellidos" oninput="this.value = this.value.toUpperCase()">
                    <div *ngIf="registroForm.get('apellidos').invalid && registroForm.get('apellidos').errors">
                        <small class="text-danger" *ngIf="registroForm.get('apellidos').hasError('required')">
                            El campo Apellido es requerido.</small>                                    
                    </div> 
                </div>
            </div> 
            <div class="form-group row">
                <label for="labelInfo" class="col-sm-3 col-xs-12 col-form-label">Nro Documento:</label>
                <div class="col-sm-3 col-xs-12">
                    <input type="text" class="form-control text-left"  maxlength="12" formControlName="ci" oninput="this.value = this.value.toUpperCase()">
                    <div *ngIf="registroForm.get('ci').invalid && registroForm.get('ci').errors">
                        <small class="text-danger" *ngIf="registroForm.get('ci').hasError('required')">
                            El campo Nro Documento es requerido.</small>                                    
                    </div> 
                </div>
                <label for="labelInfo" class="col-sm-3 col-xs-12 col-form-label">Nro Teléfono:</label>
                <div class="col-sm-3 col-xs-12">
                    <input type="text" class="form-control text-left"  maxlength="12" formControlName="telefono" >
                    <div *ngIf="registroForm.get('telefono').invalid && registroForm.get('telefono').errors">
                        <small class="text-danger" *ngIf="registroForm.get('telefono').hasError('required')">
                            El campo Teléfono es requerido.</small>
                        <small class="text-danger" *ngIf="registroForm.get('telefono').hasError('pattern')">
                            Solo es permitido números.</small>                  
                    </div>   
                </div>    
                          
            </div> 

              

            <div class="form-group row">
                <label for="labelInfo" class="col-sm-3 col-xs-12 col-form-label">Dirección:</label>
                <div class="col-sm-3 col-xs-12">
                    <input type="text" class="form-control text-left"  maxlength="100" formControlName="direccion" oninput="this.value = this.value.toUpperCase()">
                    <div *ngIf="registroForm.get('direccion').invalid && registroForm.get('direccion').errors">
                        <small class="text-danger" *ngIf="registroForm.get('direccion').hasError('required')">
                            El campo Dirección es requerido.</small>                                    
                    </div> 
                </div>
                <label for="labelInfo" class="col-sm-3 col-xs-12 col-form-label">Zona:</label>
                <div class="col-sm-3 col-xs-12">
                    <select class="form-control" id="exampleFormControlSelect1" formControlName="idZona">
                      
                        <option  [value]="zona.id" *ngFor="let zona of zonas"  >{{zona.nombre}}</option>                        
                      </select> 
                      <div *ngIf="registroForm.get('idZona').invalid && registroForm.get('idZona').errors">
                        <small class="text-danger" *ngIf="registroForm.get('idZona').hasError('required')">
                            Seleccione una zona.</small>                                        
                      </div> 
                </div>
            </div> 
            <div style="border-bottom: 1px solid #9c9595;">
                <strong class="text-uppercase">Datos del Pedido</strong>
            </div>
            <br>
            <div class="form-group row">
                <label for="labelInfo" class="col-sm-3 col-xs-12 col-form-label">Producto :</label>
                <div class="col-sm-3 col-xs-12">
                    <select class="form-control" id="exampleFormControlSelect1" formControlName="idProducto">                        
                        <option  [value]="producto.idProducto" *ngFor="let producto of productos"  >{{producto.nombre}}</option>                        
                    </select> 
                    <div *ngIf="registroForm.get('idProducto').invalid && registroForm.get('idProducto').errors">
                        <small class="text-danger" *ngIf="registroForm.get('idProducto').hasError('required')">
                            Seleccione un producto.</small>
                                        
                    </div> 
                </div>
                <label for="labelInfo" class="col-sm-3 col-xs-12 col-form-label">Cantidad de Producto:</label>
                <div class="col-sm-3 col-xs-12">
                    <input type="text" class="form-control text-left" formControlName="cantidad">
                    <div *ngIf="registroForm.get('cantidad').invalid && registroForm.get('cantidad').errors">
                        <small class="text-danger" *ngIf="registroForm.get('cantidad').hasError('required')">
                            El campo Cantidad es requerido.</small>
                        <small class="text-danger" *ngIf="registroForm.get('cantidad').hasError('pattern')">
                            Solo es permitido números.</small>                  
                    </div> 
                </div>
            </div>
        </div>     
        </form>
          <div class="card-footer bg-ligth border-warning text-center">     
            <button (click)="guardar()" [disabled]="registroForm.invalid">Registrar Pedido</button> 
         
          </div>     
    </div>        
</div>
